@media (min-width:1440px) {
  .container {
    max-width: 1350px;
  }
  .container-xl .container {
    max-width: 1440px;
    padding: 0px;
  }
}

@media (max-width:991px) {
  body {
    overflow-x: hidden;
  }
  .landing-content .lc-1 {
    max-width: 100%;
  }
  .lc-1 p {
    font-size: 18px;
    line-height: 30px;
  }
  .lc-2 {
    width: 100%;
    height: inherit;
  }
  .lc-2 a {
    width: 100%;
    height: 80px;
    padding: 26px 0px;
  }
  .lc-1:after {
    display: none;
  }
  .values-wrapper {
    margin-top: -100px;
  }
  .values-wrapper .common-header {
    margin-bottom: 50px;
  }
  .value-content h4 {
    font-size: 18px;
    padding: 0px 15px;
    line-height: 22px;
  }
  .common-header h4 {
    font-size: 35px;
    line-height: 40px;
  }
  .value-content p {
    padding: 0px 14px;
    font-size: 14px;
  }
  .manu_div img {
    height: 260px;
    object-fit: cover;
    width: 100%;
  }
  .value-content {
    height: 530px;
    margin: 0px 0px;
  }
  .value-icn {
    margin-top: 70px;
    width: 40px;
  }
  .who_we_are_wrapper {
    padding-top: 50px;
  }
  .owl-why {
    margin-top: 0px;
  }
  .who_we_are_wrapper ul li {
    width: 100%;
    height: initial;
  }
  .who_we_are_wrapper ul li img {
    height: 350px;
  }
  .who_we_are_wrapper ul li:last-child {
    padding: 35px 15px;
  }
  .who_we_are_wrapper ul li h4 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .what_we_do_wrapper {
    padding: 0px 0px;
    margin-bottom: 50px;
  }
  .wwd-content h4 {
    font-size: 35px;
  }
  .wwd-content p {
    font-size: 18px;
    line-height: 29px;
    padding: 0px 15px;
  }
  .header-bottom {
    font-size: 20px;
  }
  .header-bottom br {
    display: none;
  }
  .item-content {
    width: 100%;
    height: 200px;
    padding: 25px;
    font-size: 20px;
    line-height: 29px;
  }
  .owl-why .owl-item {
    position: relative;
    left: 0px;
  }
  .top-item div {
    /* left: 50px; */
  }
  .bottom-item {
    /* left: -60px; */
    position: relative;
  }
  .bottom-item {
    position: relative;
    /* left: -60px; */
  }
  .owl-why .owl-dots {
    margin-top: 0px;
  }
  .manu-text h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .manu-text p {
    font-size: 14px;
    line-height: 22px;
  }
  .manu-text {
    padding: 20px;
    min-height: initial;
  }
  .competetive-wrapper {
    padding-top: 70px;
  }
  .competetive-left h1 {
    font-size: 30px;
    line-height: 34px;
  }
  .competetive-left h1 br {
    display: none;
  }
  .competetive-left {
    padding: 0px 0px;
  }
  .competetive-left p {
    font-size: 16px;
    line-height: 21px;
    margin-top: 25px;
  }
  .competetive-right ul li {
    display: block;
    margin-bottom: 40px;
  }
  .competetive-right {
    width: 100%;
    float: left;
    background: #31AA6C;
    padding: 50px 15px;
    margin-top: 50px;
  }
  .competetive-right ul li span {
    width: 100%;
    display: block;
    margin-top: 20px;
  }
  .competetive-right ul li span h4 {
    font-size: 20px;
  }
  .competetive-right ul li span p {
    font-size: 16px;
    line-height: 21px;
  }
  .contact-wrapper .wwd-content {
    padding: 40px 20px;
  }
  .contact-info ul li {
    margin-bottom: 25px;
  }
  .contact-btn {
    width: 100%;
    height: 70px;
    font-size: 19px;
  }
  .wwd-content:before {
    left: 10px;
  }
  .wwd-content:after {
    right: 10px;
    display: none;
  }
  .inner-footer {
    padding: 40px 20px;
    display: block;
    text-align: center;
  }
  .inner-footer span {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 0px;
    float: left;
    margin-bottom: 15px;
  }
  .inner-footer ul li {
    display: inline-block;
    margin-left: 0px;
    margin: 0px 10px;
  }
  .inner-footer ul li img {
    height: 25px;
  }
  .logo img {
    width: initial;
    height: 63px;
    margin-left: -15px;
  }
  .header {
    background: white;
  }
  .navbar-toggler-icon {
    background: url(../images/menu.svg) no-repeat center center;
    background-size: 100%;
  }
  ul.navbar-nav.ml-auto {
    padding: 30px 0px;
  }
  .backtop img {
    position: fixed;
    bottom: 10px;
    z-index: 1000000;
    width: 60px;
  }
  .service-wrapper ul li {
    width: 100%;
  }
  /*product*/
  .piw-div ul li {
    line-height: 25px;
    margin-bottom: 15px;
  }
  .inner-bg img {
    height: 40vh;
  }
}

@media (max-width: 1100px) and (min-width: 992px) {
  .competetive-left h1 {
    font-size: 52px;
  }
  .manu-text {
    min-height: 386px;
  }
  .piw-div {
    min-height: 475px;
  }
}