@font-face {
  font-family: Circular-Book;
  src: url(../fonts/circular-book.otf);
  font-weight: 400;
}

@font-face {
  font-family: Circular-Book;
  src: url(../fonts/circular-medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: Circular-Book;
  src: url(../fonts/circular-black.otf);
  font-weight: 900;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: Circular-Book;
  font-weight: 400;
  overflow-x: hidden;
}

.header {
  width: 100%;
  float: left;
  position: absolute;
  z-index: 2;
  top: 0px;
}

.container-xl {
  width: 100%;
  float: left;
}

.logo img {
  width: 274px;
}

.navbar {
  padding: 0px;
  margin: 0px;
}

.navbar-brand {
  padding: 0px;
  margin: 0px;
}

.navbar-nav .nav-link {
  font-size: 18px;
  color: #94674b;
  line-height: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 30px;
}

.landing-bg {
  width: 100%;
  float: left;
}

.landing-bg img {
  height: 90vh;
  object-fit: cover;
  width: 100%;
  float: left;
}

.landing-area {
  width: 100%;
  float: left;
  top: -160px;
  z-index: 0;
  position: relative;
}

.landing-content {
  width: 100%;
  float: left;
}

.landing-content .lc-1 {
  max-width: calc(100% - 350px);
  float: left;
  width: 100%;
  min-height: 320px;
  background: #94674B;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.lc-1 p {
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
  line-height: 34px;
  max-width: 930px;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.lc-1 p:before {
  content: "";
  background: url(../images/dotted1.svg) no-repeat;
  width: 154px;
  height: 136px;
  position: absolute;
  z-index: 0;
  left: -50px;
  top: -20px
}

.lc-1:after {
  content: "";
  background: url(../images/dotted1.svg) no-repeat;
  width: 154px;
  height: 136px;
  position: absolute;
  z-index: 0;
  right: -67px;
  bottom: -47px;
}

.lc-2 {
  float: left;
  width: 350px;
  display: flex;
  justify-content: center;
  height: 320px;
  align-items: center;
}

.lc-2 a {
  width: 290px;
  height: 90px;
  color: white;
  text-align: center;
  padding: 32px 0px;
  font-size: 20px;
  background: #31AA6C;
  display: block;
  text-transform: uppercase;
}

.lc-2 a:hover {
  text-decoration: none;
}

.values-wrapper {
  width: 100%;
  float: left;
  padding: 50px 0px;
}

.common-header {
  width: 100%;
  float: left;
}

.center-header {
  text-align: center;
}

.common-header h4 {
  font-size: 40px;
  color: #31AA6C;
  font-weight: 900;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.value-icn {
  position: relative;
  z-index: 2;
  margin-top: 200px;
}

.value-content {
  width: 100%;
  float: left;
  position: relative;
  height: 700px;
  text-align: center;
  color: white;
  overflow: hidden;
  transition: all ease 0.3s;
  margin: 60px 0px;
}

.value-content h4 {
  position: relative;
  z-index: 2;
  font-size: 25px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
}

.value-content p {
  position: relative;
  z-index: 2;
  padding: 0px 25px;
}

.value-content .value-bg {
  height: 700px;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  top: 0px;
  position: absolute;
  left: 0px;
  transform: scale(1);
  transition: all ease 0.3s;
}

.value-content:hover .value-bg {
  transform: scale(1.1);
  transition: all ease 0.3s;
}

.value-content .overlay-value {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0px;
  z-index: 1;
  opacity: 0.3;
  transition: all ease 0.3s;
}

.value-content:hover .overlay-value {
  opacity: 0.8;
  background: #31AA6C;
  transition: all ease 0.3s;
}

.who_we_are_wrapper {
  width: 100%;
  float: left;
  padding: 100px 0px;
}

.who_we_are_wrapper ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.who_we_are_wrapper ul li {
  background: #31AA6C;
  width: 50%;
  float: left;
  display: inline-block;
  height: 650px;
  border: 0px;
}

.who_we_are_wrapper ul li img {
  height: 650px;
  object-fit: cover;
  width: 100%;
}

.who_we_are_wrapper ul li:last-child {
  padding: 100px 70px;
  color: white;
}

.who_we_are_wrapper ul li h4 {
  font-weight: 900;
  font-size: 60px;
  color: #FFFFFF;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.what_we_wrapper ul li:first-child {
  padding: 100px 70px;
  color: white;
  display: flex;
  align-items: center;
}

.what_we_wrapper ul li {
  background: #94674B;
}

.what_we_wrapper ul li p {
  font-size: 24px;
}

.what_we_wrapper ul li:last-child {
  padding: 0;
  color: white;
}

.what_we_do_wrapper {
  width: 100%;
  float: left;
  padding: 100px 0px;
}

.wwd-content {
  width: 100%;
  float: left;
  background: #94674B;
  text-align: center;
  min-height: 340px;
  color: white;
  padding: 65px 0px;
  position: relative;
  z-index: 2
}

.wwd-content:before {
  content: "";
  background: url(../images/dotted1.svg) no-repeat;
  width: 154px;
  height: 136px;
  position: absolute;
  z-index: 0;
  left: 100px;
  top: -40px
}

.wwd-content:after {
  content: "";
  background: url(../images/dotted1.svg) no-repeat;
  width: 154px;
  height: 136px;
  position: absolute;
  z-index: 0;
  right: 100px;
  bottom: -40px
}

.wwd-content h4 {
  font-weight: 900;
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
  line-height: 32px;
  text-transform: uppercase;
}

.wwd-content p {
  font-size: 26px;
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
  max-width: 900px;
  margin: 0px auto;
  font-weight: 400;
  margin-top: 20px;
}

.item-wrapper {
  width: 100%;
  float: left;
}

.item-content {
  width: 100%;
  height: 250px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #FFFFFF;
  font-weight: 500;
  font-size: 25px;
  color: #8D8D8D;
  line-height: 37px;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  margin-bottom: 30px;
}

.top-item {
  width: 100%;
  float: left;
  margin-bottom: 50px;
  padding: 1px;
}

.top-item div {
  position: relative;
}

.bottom-item {
  width: 100%;
  float: left;
  padding: 1px;
}

.bottom-item div {
  float: left;
}

.why_choose_wrapper {
  width: 100%;
  float: left;
}

.why_choose_wrapper .common-header {
  margin-bottom: 50px;
}

.why_choose_wrapper .row .col-lg-3:nth-child(odd) .item-content {
  background: #31AA6C;
}

.why_choose_wrapper .row .col-lg-3:nth-child(even) .item-content {
  background: #94674B;
}

.why_choose_wrapper .row .col-lg-3 .item-content {
  color: white;
  font-size: 20px;
  line-height: 25px;
}

.btn-form2 {
  width: 300px;
  height: 70px;
  color: white;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #31AA6C;
  border: 0px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-decoration: none;
}

.btn-form2:hover {
  color: white;
  text-decoration: none;
}

.owl-why {
  width: 100%;
  float: left;
  margin-top: 0px;
}

.owl-why .active:nth-child(1) {}

/* .owl-why .owl-item {
  position: relative;
  left: -100px;
} */
.owl-why .owl-item.active {
  position: relative;
  left: 00px;
}

.owl-why .owl-item:nth-child(odd) .top-item .item-content {
  color: #31aa6c;
}

.owl-why .owl-item:nth-child(odd) .bottom-item .item-content {
  color: #94674b;
}

.owl-why .owl-item:nth-child(even) .top-item .item-content {
  color: #94674b;
}

.owl-why .owl-item:nth-child(even) .bottom-item .item-content {
  color: #31aa6c;
}

.owl-why .owl-item.active:first-child {
  position: relative;
  left: 50px;
}

.owl-why .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  padding: 50px 0px;
}

.header-bottom {
  font-size: 30px;
  color: #8D8D8D;
  text-align: center;
  line-height: 30px;
  margin-top: 30px;
}

.owl-carousel .owl-dots.disabled {
  display: block;
}

.owl-why .owl-nav {
  display: none;
}

.owl-why .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  margin-top: 25px;
  width: 100%;
  float: left;
  margin-bottom: 40px;
}

.owl-why .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-why .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  background: #E9E9E9;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px
}

.owl-why .owl-dots .owl-dot.active span,
.owl-why .owl-dots .owl-dot:hover span {
  background: #BDBDBD
}

.manufacture_wrapper {
  width: 100%;
  float: left;
  padding: 100px 0px;
}

.manu_div {
  width: 100%;
  float: left;
  margin-top: 40px;
}

.manu_div img {
  height: 360px;
  object-fit: cover;
}

.manu-text {
  background: #31AA6C;
  padding: 40px;
  text-align: center;
  color: white;
  min-height: 320px;
}

.manu-text h3 {
  font-weight: 900;
}

.manu-text h5 {
  font-weight: 900;
  font-size: 22px;
  color: #073e22;
  text-align: center;
  line-height: 32px;
  margin-bottom: 20px;
}

.manu-text p {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  line-height: 26px;
}

.manu-grid {
  width: 100%;
  float: left;
  margin-top: 30px;
}

.competetive-wrapper {
  width: 100%;
  float: left;
  padding-top: 150px;
}

.competetive-left {
  width: 100%;
  float: left;
  padding: 0px 80px;
}

.competetive-left h1 {
  font-weight: 900;
  font-size: 60px;
  color: #137E47;
  line-height: 66px;
  text-transform: uppercase;
}

.competetive-left p {
  font-weight: 500;
  font-size: 20px;
  color: #8D8D8D;
  line-height: 30px;
  margin-top: 60px;
  text-align: justify;
}

.competetive-right {
  width: 100%;
  float: left;
  background: #31AA6C;
  padding: 70px;
}

.competetive-right ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.competetive-right ul li {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 60px;
}

.competetive-right ul li span {
  width: calc(100% - 100px);
  display: block;
}

.competetive-right ul li img {
  width: 60px;
  margin-right: 40px;
}

.competetive-right ul li span h4 {
  font-weight: 900;
  font-size: 22px;
  color: #FFFFFF;
  line-height: 26px;
}

.competetive-right ul li span p {
  font-size: 19px;
  color: #FFFFFF;
  line-height: 30px;
  margin-bottom: 0px;
}

.competetive-right ul li:last-child {
  margin-bottom: 0px;
}

.contact-wrapper .wwd-content {
  width: 100%;
  float: left;
  background: #94674B;
  min-height: 640px;
  color: white;
  padding: 100px;
  position: relative;
  z-index: 2;
  margin: 50px 0px;
  text-align: left;
  display: flex;
  align-items: center;
}

.contact-wrapper .wwd-content p {
  text-align: left;
}

.contact-info {
  width: 100%;
  float: left;
}

.contact-info h3 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 40px;
  color: #FFFFFF;
  line-height: 32px;
  margin-bottom: 32px;
}

.contact-info p {
  font-size: 26px;
  color: #FFFFFF;
  line-height: 40px;
  margin-bottom: 40px;
}

.contact-info ul {
  margin: 0px;
  padding: 0px;
  list-style: 0px;
}

.contact-info ul li {
  display: flex;
  margin-bottom: 15px;
}

.contact-info ul li img {
  width: 35px;
  margin-right: 20px;
  object-fit: contain;
}

.contact-info ul li span {
  font-size: 20px;
  color: #FFFFFF;
  line-height: 25px;
}

.contact-form {
  width: 100%;
  float: left;
}

.contact-form form {
  width: 100%;
  float: left;
}

.contact-form form .contact-input {
  height: 60px;
  border: 0px;
  border-bottom: 1px solid white;
  background: transparent;
  margin-bottom: 20px;
  width: 100%;
  font-size: 20px;
  color: white;
}

.contact-form form .contact-input::placeholder {
  opacity: 0.28;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 40px;
}

.contact-form form textarea.contact-input {
  height: 120px;
}

.contact-btn {
  width: 300px;
  height: 90px;
  color: white;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #31AA6C;
  border: 0px;
  margin-top: 20px;
  float: right;
}

.contact-wrapper .wwd-content .row .col-lg-6:first-child {
  display: flex;
  align-items: center;
}

footer {
  width: 100%;
  float: left;
  margin-top: 50px;
}

.inner-footer {
  background: #31AA6C;
  padding: 60px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.inner-footer .foot-logo {
  width: 194px;
}

.inner-footer span {
  font-size: 20px;
  color: #FFFFFF;
  line-height: 20px;
  margin-top: 5px;
  margin-left: 10px;
}

a:focus, input:focus, textarea:focus, button:focus {
  outline: 0px;
  box-shadow: 0px 0px 0px;
}

.inner-footer ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.inner-footer ul li {
  display: inline-block;
  margin-left: 30px;
}

.backtop {
  z-index: 1000000;
  width: 100%;
  float: right;
  position: relative;
  display: flex;
  justify-content: flex-end;
  display: none;
}

.op1 {
  display: flex;
}

.backtop img {
  position: fixed;
  bottom: 100px;
  z-index: 1000000;
  width: 96px;
}

.quality-wrapper {
  width: 100%;
  float: left;
}

.quality-wrapper h5 {
  color: #94674b;
  font-size: 24px;
  font-weight: 900;
  margin-top: 50px;
  width: 100%;
  float: left;
}

.quality-wrapper p {
  font-size: 18px;
  text-align: justify;
}

.quality-wrapper a {
  color: #31aa6c;
}

.quality-wrapper ul {
  margin-top: 10px;
  margin-bottom: 80px;
  width: 100%;
  float: left;
}

.quality-wrapper li {
  font-size: 18px;
  padding: 5px 0px;
  color: #31aa6c;
}

.quality-wrapper li span {
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

.quality-wrapper span {
  font-size: 20px;
  font-weight: 600;
}

.service-wrapper {
  width: 100%;
  float: left;
}

.service-wrapper ul {
  width: 100%;
  float: left;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-align: center;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.service-wrapper ul li {
  float: left;
  width: 33%;
  margin-top: 40px;
  min-height: 370px;
}

.service-wrapper ul li img {}

.service-wrapper ul li h4 {
  font-weight: 700;
  color: #252525;
  margin-top: 25px;
  margin-bottom: 20px;
}

.service-wrapper ul li p {
  padding: 0px 20px;
}

/*======================== Product Page ==============================*/
.inner-quote {
  top: 0px;
  margin-bottom: 100px;
}

.inner-quote p {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 37px;
  color: #FFFFFF;
  line-height: 60px;
}

.inner-bg img {
  height: 70vh;
}

.product-listing-wrapper {
  width: 100%;
  float: left;
  padding: 100px 0px;
  margin-bottom: 50px;
}

.product-listing-wrapper .common-header {
  margin-bottom: 100px;
}

.product-inner-wrapper {
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

.product-inner-wrapper img {
  height: 280px;
  object-fit: cover;
  width: 100%;
  margin-bottom: 15px;
}

.piw-div {
  background: #31AA6C;
  min-height: 370px;
  width: 100%;
  float: left;
  color: white;
  padding: 20px;
}

.piw-div h4 {
  font-weight: 900;
  font-size: 25px;
  color: #FFFFFF;
  text-align: center;
  line-height: 32px;
  margin-top: 30px;
}

.piw-div ul {
  margin-top: 35px;
}

.piw-div ul li {
  font-weight: 700;
  font-size: 17px;
  color: #FFFFFF;
  line-height: 46px;
}

.navbar-nav .active .nav-link {
  color: #31AA6C;
}

.retail-wrapper {
  width: 100%;
  float: left;
  padding: 100px 0px;
}

.retail-div {
  width: 100%;
  float: left;
  margin-top: 50px;
}

.retail-div img {
  height: 150px;
}

.retail-div h4 {
  color: #31aa6c;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 10px;
}

.retail-div b {
  font-size: 18px;
}

.retail-div p {
  /* padding: 0px 20px; */
}


/*Development CSS Start*/
button.navbar-toggler {
  background: none;
}
.wpcf7-response-output {
  float: left;
  width: inherit;
}
span.wpcf7-form-control-wrap.your-name input {
  text-transform: capitalize;
}
input.wpcf7-form-control.wpcf7-submit.contact-btn {
  cursor: pointer;
}
.contact-info span a {
  color: #fff;
}

.contact-info span a:hover{
  text-decoration: none;
}
.current-menu-item a.nav-link {
  color: #31AA6C;
}
input.wpcf7-form-control.wpcf7-submit.contact-btn {
  background: #31aa6c;
}
.retail-div p {
  text-align: justify;
}
/*Development CSS End*/
